/* || CSS Reset (https://andy-bell.co.uk/a-modern-css-reset/) */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* || Web fonts */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

/* || Custom properties */
:root {
  --color-light-red: hsl(0 100% 67%);
  --color-orangey-yellow: hsl(39 100% 56%);
  --color-green-teal: hsl(166 100% 37%);
  --color-cobalt-blue: hsl(234 85% 45%);
  --color-light-slate-blue: hsl(252 100% 67%);
  --color-light-royal-blue: hsl(241 81% 54%);
  --color-violet-blue: hsl(256 72% 46% / 1);
  --color-persian-blue: hsl(241 72% 46% / 0);
  --color-white: hsl(0 0% 100%);
  --color-pale-blue: hsl(221 100% 96%);
  --color-light-lavender: hsl(241 100% 89%);
  --color-gray-blue: hsl(224 30% 27%);
  --font-family-primary: "Hanken Grotesk", sans-serif;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

/* || Global styles */
body {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  color: var(--color-light-lavender);
  line-height: normal;
  background: var(--color-white);
}

/* || Results summary component styles */
.result {
  padding: 1.5rem 3.625rem 2.5rem;
  background: linear-gradient(
    var(--color-light-slate-blue),
    var(--color-light-royal-blue)
  );
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 1.875rem 3.75rem rgb(61 108 236 / 0.15);
  text-align: center;
}

.result > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.result__heading {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.result__score-container {
  width: 8.75rem;
  margin-inline: auto;
  padding: 1.5625rem 2.375rem 1.375rem;
  background: linear-gradient(
    var(--color-violet-blue),
    var(--color-persian-blue)
  );
  border-radius: 50%;
}

.result__points {
  display: block;
  font-size: 3.5rem;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.286;
  color: var(--color-white);
}

.result__total {
  font-weight: var(--font-weight-bold);
  opacity: 0.52;
}

.result__description {
  --flow-space: 0.5rem;
}

.result__subheading {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.summary {
  padding: 1.5rem 1.875rem 1.875rem;
}

.summary > * + * {
  margin-top: var(--flow-space, 1.5rem);
}

.summary__heading {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-blue);
}

.summary__button {
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  background: var(--color-gray-blue);
  border: none;
  border-radius: 8rem;
}

.summary__list {
  margin-bottom: 0;
  padding: 0;
}

.summary__list > * + * {
  margin-top: 1rem;
}

.summary__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.125rem 1rem;
  border-radius: 0.75rem;
  background-image: linear-gradient(
    0deg,
    rgb(255 255 255 / 0.95) 0%,
    rgb(255 255 255 / 0.95) 100%
  );
}

.summary__item--reaction {
  color: var(--color-light-red);
  background-color: var(--color-light-red);
}

.summary__item--memory {
  color: var(--color-orangey-yellow);
  background-color: var(--color-orangey-yellow);
}

.summary__item--verbal {
  color: var(--color-green-teal);
  background-color: var(--color-green-teal);
}

.summary__item--visual {
  color: var(--color-cobalt-blue);
  background-color: var(--color-cobalt-blue);
}

.summary__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.summary__category {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.summary__score {
  margin-left: auto;
  font-weight: var(--font-weight-bold);
  color: var(--color-gray-blue);
}

.summary__total {
  margin-left: 0.25rem;
  opacity: 0.5;
}

.summary__button:focus-visible {
  outline: 0.3rem solid var(--color-gray-blue);
  outline-offset: 0.3rem;
}

.summary__button:hover {
  background: linear-gradient(
    var(--color-light-slate-blue),
    var(--color-light-royal-blue)
  );
}
